#game-container {
    width: 550px;
    height: 550px;
    position: relative;
    background: hsl(60, 6%, 82%);
}

#word-animate {
    /* width: 100px; */
    /* height: 50px; */
    /* border-radius: 50% / 10%; */
    position: absolute;
    text-align: center;
    /* background-color: blue; */
    /* padding: 10px; */
    /* margin: 10px; */
}

#text-container {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

h3 {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  }