#game-container {
    width: 550px;
    height: 550px;
    position: relative;
    background: hsl(60, 6%, 82%);
}

#word-animate {
    width: 100px;
    height: 50px;
    border-radius: 50% / 10%;
    position: absolute;
    text-align: center;
    background-color: blue;
    padding: 10px;
    margin: 10px;
}